h1 {
    color: rgb(255, 0, 0);
    text-align: center;
    text-decoration: underline;
    background-color: rgba(61, 24, 24, 0.769);
    }
h2 {
    text-decoration: underline;
    text-indent: 30px;
}

body {
    background-color: lightgray;
}

h3{
    text-decoration: underline;
    text-indent: 5px;
}

h4 {
    text-indent: 10px;
}

footer{
    background-color: #eaae6a;
}

p {
    font-family: Verdana, Arial, Helvetica ;
    font-size: 12px;
    line-height: 10px;
    text-indent: 10px;
    margin: 20px;
    }

.infoperso {
    text-indent: 40px;
}

ul {
    list-style-type: none;
    display: flex;
  }

#currentpage {
    background-color: #7a9cec; 
    }

nav a {
    text-decoration : none;
    border: 1px solid rgb(20, 3, 74);
    padding: 5px;
    text-align:center;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 150px;
    display: block;
    color:black;
    background-color: rgb(38, 0, 251); 
}

nav a:hover {
    color:aqua;
    }
   
