h1 {
    color: rgb(255, 0, 0);
    text-align: center;
    text-decoration: underline;
    background-color: rgba(61, 24, 24, 0.769);
    }
h2 {
    text-decoration: underline;
    text-indent: 30px;
}

body {
    background-color: lightgray;
}

h3{
    text-decoration: underline;
    text-indent: 5px;
}

h4 {
    text-indent: 10px;
}

footer{
    background-color: #eaae6a9f;
    padding-bottom: 1px;
    text-align: center;
    margin: 100px;
}

p {
    font-family: Verdana, Arial, Helvetica ;
    font-size: 12px;
    line-height: 20px;
    text-indent: 15px;
    margin: 20px;
    }

.infoperso {
    text-indent: 40px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#currentpage {
    background-color: #7a9cec; 
    }

nav a {
    
    text-decoration : none;
    border: 1px solid rgb(20, 3, 74);
    padding: 5px;
    width: 200px;
    height: 20px;
    display: block;
    text-align:center;
    color:white;
    background-color: rgb(38, 0, 251); 
}

nav .langmenu {
    background-color: grey;
}

nav a:hover {
    background-color:aqua;
    color: black;
    }
   
